<div class="service-title" style="background:url(../assets/imgs/about.jpg) center; background-size:cover; background-attachment: fixed">
  <h1>About us</h1>
</div>


<div class="inspection-state-text">
  CITGO is a major force in the U.S. energy arena, with state-of-the-art assets and streamlined operations. If you ask anyone what brought us to this point, the answer is the same: an unwavering dedication to customer service. As a supplier with a decades-long tradition of 100 percent dedication to the independently owned and operated Marketer and Retailer class of trade, CITGO knows our success is inherently and fundamentally tied to yours.
  <br><br><br><br>
<strong>Team:</strong>
<br><br><br><br>
<div class="col-50">
<center>
  <img src="assets/imgs/rubens.jpg" alt="" />
</center>
</div>
<div class="col-50">
  <center>
    <img src="assets/imgs/willian.jpg" alt="" />
  </center>
</div>
</div>
