<div class="owl-carousel">
  <div><img src="assets/imgs/slide-1.jpg" alt="" /></div>
  <div><img src="assets/imgs/slide-2.jpg" alt="" /></div>
  <div><img src="assets/imgs/slide-3.jpg" alt="" /></div>
  <div><img src="assets/imgs/slide-4.jpg" alt="" /></div>
  <div><img src="assets/imgs/slide-5.jpg" alt="" /></div>
  <div><img src="assets/imgs/slide-6.jpg" alt="" /></div>
  <div><img src="assets/imgs/slide-7.jpg" alt="" /></div>
</div>

<!-- <div class="divise">
  <h1>services</h1>
</div> -->



<div class="container">
  <div class="col-50">
    <h1>Great Road Fuels</h1>
    <p>
       Located in the town of Stow, MA; the Great Road Fuels offers from the supply of vehicles with the best brands of fuel up service authorized state inspection. For your convenience, we have also mechanical workshop covering the main services for cars. It also includes selling used cars, with accessible values and in good condition. So, become a customer and friend satisfied with the Great Road Fuels and staff.
    </p>
  </div>
  <div class="col-50">
    <h1>Testimonials</h1>
    <p>
      <!-- <img src="http://lorempixel.com/60/60" class="img-circle" alt="" /> -->
      I was promptly answered. The service was very good. Made within the estimated time. They have a fast and efficient in everything they offer. I recommend.
    </p>

    <strong>- Beny Maia - Clinton / MA</strong>
  </div>
</div>


  <!-- <div class="divise">
    <h1>testimonials</h1>
  </div>

  <div class="testimonials">
    <div class="testimonail">
      <div class="testimonial-image">
        <img src="http://lorempixel.com/100/100" class="img-circle" alt="" />
      </div>

      <div class="testimonial-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div> -->

</div>
