<div class="service-title" style="background:url(../assets/imgs/inpsection.jpg) center; background-size:cover; background-attachment: fixed">
  <h1>Inpsection State</h1>
</div>


<div class="inspection-state-text">
  Inspection stations are places to drive inside to see if a vehicle passes inspection once a vehicle is due for inspection. Most US inspection decals/stickers display the month's number and the year.
  <br><br>
<strong>Why to do ?</strong>
<br><br>
Because is a procedure mandated by national or subnational governments in many countries, in which a vehicle is inspected to ensure that it conforms to regulations governing safety, emissions, or both. Inspection can be required periodically  (once per year ) or on transfer of title to a vehicle.
</div>
