<div class="service-title" style="background:url(../assets/imgs/question.jpg) center; background-size:cover; background-attachment: fixed">
  <h1>Question and Answers</h1>
</div>


<div class="inspection-state-text">
  We recycle waste products!We care. We recycle!
  <br><br>
  <strong>How often do I need to get my car inspected in Massachusetts?</strong>
  <br><br>
 Massachusetts started a new program the first week of October 2008:
All vehicles in Massachusetts are required to get a safety inspection test very year. Cars produced since 1997 must have an emissions test every year as well, as part of the
testing process. New cars are exempt from the emissions part of the test for the first year. Cars produced before 1997 do not require an emissions test. The cost for car
inspection is established by the state at $29.00. You must bring your registration.

<br><br>
Do newly purchased cars have to be inspected? When do newly purchased cars need to be inspected?
Yes, all cars new or used must be inspected within seven calendar days of registration.

<br><br>
<strong>What does the emissions part of the inspection test for?</strong>
<br><br>
The emissions test checks for unacceptable levels of toxic emissions from your vehicle. This checks to see if your car is running as it was originally designed. It  protects the
environment and the air we breathe from toxic emissions. The whole inspection takes about 20 minutes. You must get a new car inspection in the same month each year, before
your inspection sticker expires.
<br><br>
<strong>What happens if I pass the safety and emissions test?</strong>
<br><br>
You will receive a rejection sticker and have  to make the necessary repairs as soon as possible if you receive the red "R" and pass a re-test. The state recommends using a state-registered emissions repair technician at a registered shop to fix emissions problems. The re-test is free within 60 days at the original inspection station if you receive the black "R" sticker.
<br><br>
<strong>What happens if I fail the safety  test?</strong>
<br><br>
The vehicle is not supposed to be driven until repairs are made. A rejection sticker is placed on the windshield  After it is repaired, you are entitled to a free
re-test within 60 days at the original station that did the inspection.
<br><br>
<strong>What happens if I fail the emissions test?</strong>
<br><br>
You will receive a rejection sticker and have 60 days to make the necessary repairs and pass a re-test. The state recommends using a state-registered emissions repair
technician at a registered shop to fix emissions problems. The re-test is free within 60 days at the original inspection station.
<br><br>
<strong>Why use a registered emissions repair shop?</strong>
<br><br>
These shops have the latest tools, manuals and trained personnel, to do such repairs. 90% of these vehicles pass their re-tests when repaired  by registered emissions repair
technicians. The state reviews the performance of these shops and grades them. Main Street Citgo is a registered emissions repair shop in good standing with the State of
Massachusetts. See the website of Massachusetts Registry of Motor Vehicles


</div>
