<div class="service-title">
  <h1>Services</h1>
</div>

<div class="divise">
  <center>
    Our Services
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </center>
</div>


<div ng-repeat="service in services | orderBy: 'id'" >
      <div class="container" ng-if="$index % 2 == 0">

       <div class="service-item">
         <div class="service-item-title">
           {{services[$index].title}}
         </div>
         <!-- <div class="service-item-description">
           {{services[$index].description | limitTo: 100}}
         </div> -->
       </div>

       <div class="service-item">
         <div class="service-item-title">
           {{services[$index + 1].title}}
         </div>
         <!-- <div class="service-item-description">
           {{services[$index + 1].description | limitTo: 100}}
         </div> -->
       </div>

     </div>
 </div>
